body {
    margin: 0px;
    overflow: initial;
    font-family: "Nova Square";
    background-color: rgba(0, 0, 0, 0);
}

header {
    position: sticky;
    top: 0px;
    height: 180px;
    z-index: 200;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav {
    align-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
    margin: 0px 10px;
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
}

.background_image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('https://pbs.twimg.com/media/DtJFYbWWkAA-FnL?format=jpg&name=small');
    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw;
    height: 100vh;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.header_title>h1 {
    margin-left: 2rem;
    margin-right: 2rem;
    animation: title-letters 1800ms linear 0ms infinite;
    min-width: 90vw;
}

.second_col {
    grid-column-start: 2;
}

.gear_card {
    background-color: #00000000;
    border: 3px solid #00000000;
}

.card_button {
    background-color: #00000000;
    border: 3px solid #00000000;
    padding: 20px;
    color: #999999;
}

.card_button:hover {
    border-radius: 10px;
    border: 3px solid rgb(0, 140, 255);
    color: rgb(0, 140, 255);
}

.card_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_images {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card_body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.title {
    color: inherit;
}

.full {
    animation: stat-bars 1800ms linear 0ms infinite;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

ul {
    list-style-type: none;
    background-color: #8faf6688;
    padding: 40px 15px 0px 15px;
}

li:hover {
}

table, tr, td, th {
    border: 1px solid black;
}

td {
    min-width: 20px;
}

.list-img {
    height: 30px;
    width: 30px;
}

.carousel-item > img{
    width: 500px;
    height: 500px;
    object-fit: contain;
}

#about {
    margin-top: 15px;
    background-color: #FFFFFF44;
    border-radius: 15px;
}

#buy {
            background: linear-gradient(45deg, #f06, #9f6, #06f, #f06);
                background-size: 400% 400%;
    color: white;
    padding: 20px 40px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    position: relative;
    animation: rainbowAnimation 4s linear infinite;
}

#buy:hover {
            background-color: #b80000;
}

.buy_now_button {
    display: flex;
    justify-content: center;
}

@keyframes rainbowAnimation {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }
    
    100% {
        background-position: 0% 0%;
    }
}

@keyframes title-letters {
    0% {
        color: rgba(0, 0, 0);
    }

    50% {
        color: rgb(37, 100, 37);
    }

    100% {
        color: rgba(0, 0, 0);
    }
}

@keyframes stat-bars {
    0% {
        background-color: rgb(169, 199, 0);
    }

    50% {
        background-color: rgb(189, 229, 20);
    }

    100% {
        background-color: rgb(169, 199, 0);
    }
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#intro-section {
    background-color: #ffd700;
    /* Sonic Riders Gold */
}

#gameplay-section {
    background-color: #87ceeb;
}

.gameplay-mechanics {
    margin-top: 20px;
}

@media (max-width: 500px) {
    .stats {
        width: 100%;
        display: flex;
            justify-content: center;
    }
    
    section {
        padding: 10px;
    }
}